img{
    height: 370px;
}

/* .card{
    height: 800px;
} */

.card:hover{
      font-size: 16px;
      color: #333;
      background-color: #fcaf08;
      border: 2px solid #007bff;
      border-radius: 4px;
      transition: border-color 0.3s ease
}

/* .backimg{
    background-image: url("https://t3.ftcdn.net/jpg/03/45/56/98/360_F_345569849_VtSE7iPaACiQz9gKl0FRYrK6jSXSHL1c.jpg");
} */