body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #0a0a0a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .navbar-menu a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
  
    .navbar-menu.active {
        display: flex;
    }
  
    .navbar-menu li {
        margin: 0;
    }
  
    .navbar-toggle {
        display: block;
    }
  }
  
  